/* =========================================
   PENDULUM ANIMATION
   هذا الملف خاص بالبندول فقط
========================================= */

.pendulum-scene {
    position: relative;
    width: 100%;
    height: 430px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


/* نقطة التعليق */

.pendulum-pivot {
    position: absolute;
    top: 45px;
    left: 50%;

    width: 18px;
    height: 18px;

    transform: translateX(-50%);

    border-radius: 50%;

    background: #ffffff;

    box-shadow:
        0 0 8px rgba(255, 255, 255, 0.9),
        0 0 20px rgba(145, 85, 255, 0.8);

    z-index: 5;
}


/* الحبل */

.pendulum-arm {
    position: absolute;

    top: 54px;
    left: 50%;

    width: 4px;
    height: 180px;

    transform-origin: 50% 0%;

    border-radius: 10px;

    background: linear-gradient(to bottom,
            #eadfff,
            #9b63ff);

    box-shadow:
        0 0 8px rgba(150, 90, 255, 0.35);

    z-index: 3;
}


/* الكرة */

.pendulum-ball {
    position: absolute;

    left: 50%;
    bottom: -27px;

    width: 54px;
    height: 54px;

    transform: translateX(-50%);

    border-radius: 50%;

    background:
        radial-gradient(circle at 30% 25%,
            #f0e5ff 0%,
            #d2b2ff 18%,
            #a565ff 45%,
            #783ed0 72%,
            #55249f 100%);

    border: 2px solid rgba(255, 255, 255, 0.4);

    box-shadow:
        inset -8px -10px 18px rgba(45, 15, 90, 0.35),
        inset 7px 6px 12px rgba(255, 255, 255, 0.25),
        0 0 15px rgba(150, 85, 255, 0.65),
        0 0 35px rgba(150, 85, 255, 0.3);

    z-index: 4;
}


/* الهالة حول الكرة */

.pendulum-glow {
    position: absolute;

    left: 50%;
    bottom: -35px;

    width: 72px;
    height: 72px;

    transform: translateX(-50%);

    border-radius: 50%;

    background: rgba(150, 85, 255, 0.2);

    filter: blur(13px);

    z-index: 2;
}


/* كتابة القوة */

.pendulum-force {
    position: absolute;

    top: 20px;
    left: 50%;

    transform: translateX(-50%);

    font-size: 11px;
    font-weight: 700;

    letter-spacing: 2px;

    color: #d9c5ff;

    opacity: 0.8;

    white-space: nowrap;
}


/* الخط الأرضي */

.pendulum-ground {
    position: absolute;

    bottom: 28px;
    left: 50%;

    transform: translateX(-50%);

    width: 80%;
    height: 1px;

    background: linear-gradient(90deg,
            transparent,
            rgba(150, 85, 255, 0.4),
            transparent);
}